.section__hero--bottom {
  background-color: var(--bg-black);
  position: relative;

  .hero--bottom__img {
    width: 100%;
    position: absolute;
    inset: 0;

    img {
      width: 100%;
      height: 500px;
    }
  }
  .wrapper--hero__swiper {
    position: relative;
    z-index: 1;
    padding-block: 30px;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    cursor: grab;

    .group__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .item_content {
        text-align: center;
        h2 {
          font-size: 2.3rem;
          font-weight: 800;
          text-transform: capitalize;
          color: var(--primary);
        }
        p {
          font-size: 1.6rem;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }
  }
}

@include respond-min($breakpoint-md) {
  .section__hero--bottom {
    .wrapper--hero__swiper {
      position: relative;
      z-index: 1;
      cursor: grab;

      .group__item {
        gap: 20px;
        .item_content {
          text-align: center;
          h2 {
            font-size: 3.3rem;
            font-weight: 800;
            text-transform: capitalize;
            margin-bottom: 10px;
            color: var(--primary);
          }
          p {
            font-size: 2rem;
            font-weight: 600;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
