@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: var(--primary);
  color: white;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:root {
  --bg-black: #0b0b0b;
  --primary: #ff8507;
  --secondary: #ff9900;
  --text-white: #fff;
  --text-base: 1.6rem;
  --gray: #ffffffcc;
}

/* Config swiper */
.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border-radius: 100%;
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 60px;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 15px;
  font-weight: 900;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: white;
}

.swiper-button-next {
  transform: translateX(50px);
}

.swiper-button-prev {
  transform: translateX(-50px);
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev,
.swiper-box:hover .swiper-button-next,
.swiper-box:hover .swiper-button-prev,
.swiper-hero-bottom:hover .swiper-button-next,
.swiper-hero-bottom:hover .swiper-button-prev {
  opacity: 1;
  transform: translateX(0);
}

.swiper-box {
  position: relative;
}

.swiper-pagination {
  display: none;
}
@media (min-width: 64rem) {
  .swiper-pagination {
    display: block;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 3px solid white;
    opacity: 0.8;
  }
  .swiper-pagination .swiper-pagination-bullet:hover {
    opacity: 1;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}

.swiper-jackpot:hover .jackpot-prev,
.swiper-jackpot:hover .jackpot-next {
  transform: translateY(80px);
  opacity: 1;
}

/* Config swiper */
/* Start Header */
.header__mobile {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  background-color: #1d1d1d;
}
.header__mobile button {
  background-color: transparent;
  border: none;
  color: var(--gray);
  font-size: 2.2rem;
}
.header__mobile img {
  margin: 0 auto;
  object-fit: cover;
  max-width: 209px;
}

.group__btn {
  background: linear-gradient(to bottom, #feaa00 0%, #fc6100 100%);
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.group__btn span {
  height: 30px;
  margin: 0 7.5px;
  position: relative;
  vertical-align: middle;
}
.group__btn span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.group__btn a {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 24px;
  border: 2px solid #ffce21;
  color: #ffce21;
  background: #b20000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: none;
  height: 40px;
  animation: zoom 1.5s 1s linear infinite;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 64rem) {
  .wrapper_header_mobile {
    display: none;
  }
}
@media (min-width: 48rem) {
  .header__mobile {
    padding: 15px;
  }
}
/* Menu Sidebar Mobile */
.sidebar {
  inset: 0;
  position: fixed;
  background-color: rgba(11, 11, 11, 0.8980392157);
  z-index: 100;
  display: none;
}
.sidebar__wrapper {
  padding: 30px 0;
  background-color: black;
  width: 300px;
  transform: translateX(-100%);
  height: 100vh;
}
.sidebar__wrapper ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding-left: 15px;
  padding-block: 15px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray);
}
.sidebar__wrapper ul li a img {
  width: 30px;
  height: 30px;
}

/* marquee */
.marquee {
  background-color: #1d1d1d;
}
.marquee__wrapper {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-block: 8px;
}
.marquee__wrapper img {
  width: 20px;
  height: 20px;
}

#btn__close--sidebar {
  position: fixed;
  top: 0;
  right: 0;
  color: var(--gray);
  font-size: 2.2rem;
  padding: 10px;
}

/* Desktop mode */
.wrapper_header_desktop {
  display: none;
}

@media (min-width: 64rem) {
  .wrapper_header_desktop {
    display: block;
    background-color: #1d1d1d;
  }
  .wrapper_header_desktop .container_header_desktop {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.5px 15px;
  }
  .wrapper_header_desktop .container_header_desktop .group__btn {
    width: max-content;
    background: none;
  }
  .wrapper_header_desktop .container_header_desktop .group__btn span::after {
    display: none;
  }
  .wrapper_header_desktop .container_header_desktop .group__btn a::after {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: #b20000;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
  }
  .wrapper_header_desktop .container_header_desktop .group__btn a:hover {
    background: linear-gradient(to top, #ffce21, #ffffff);
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
    border: 2px solid #dd5f11;
    color: #dd5f11;
  }
  .wrapper_header_desktop .container_header_desktop .group__btn a:hover::after {
    animation: shine 1.5s ease-in-out;
  }
  .wrapper_header_desktop .sidebar {
    display: block;
    position: static;
    background: linear-gradient(to bottom, #feaa00 0%, #fc6100 100%);
    width: 100%;
  }
  .wrapper_header_desktop .sidebar__wrapper {
    transition: none;
    transform: translateX(0);
    background-color: transparent;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
  .wrapper_header_desktop .sidebar__wrapper ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .wrapper_header_desktop .sidebar__wrapper ul li a {
    padding: 0;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 8px;
    color: white;
  }
  .wrapper_header_desktop .sidebar__wrapper ul li a:hover img {
    filter: brightness(0.5);
  }
  .wrapper_header_desktop .sidebar__wrapper ul li a:hover span {
    filter: brightness(0.5);
  }
  .wrapper_header_desktop .sidebar__wrapper ul li a img {
    filter: brightness(1);
    transition: all 0.3s ease-in-out;
  }
  .wrapper_header_desktop .sidebar__wrapper ul li a span {
    display: block;
    width: max-content;
    transition: all 0.3s ease-in-out;
  }
  .marquee {
    background-color: black;
  }
  .marquee__wrapper {
    padding: 8px 35px;
  }
}
/* handle animation */
.show {
  animation: sidebar-show 0.7s 0.3s ease-in-out forwards;
}

.hide {
  animation: sidebar-hide 0.7s ease-in-out forwards;
}

.wrapper__show {
  display: block;
  animation: fade-in 0.7s ease-in-out;
}

.wrapper__hide {
  animation: fade-out 0.7s ease-in-out;
}

/* Animation */
@keyframes shine {
  to {
    left: 125%;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sidebar-show {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes sidebar-hide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* End Header */
.product--game {
  background-color: var(--bg-black);
  padding-block: 30px;
}
.product--game h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.product--game h2 span {
  color: var(--primary);
}
.product--game .wrapper__group-img {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1360px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-inline: 9px;
  margin-bottom: 10px;
}
.product--game .wrapper__group-img img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
.product--game .wrapper__box {
  margin-bottom: 30px;
}
.product--game .wrapper__box h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary);
  margin-bottom: 10px;
}
.product--game .wrapper__box .box {
  margin-inline: 15px;
  border: 2px solid var(--primary);
  padding: 15px;
  box-shadow: 0 2px 30px var(--primary);
  border-radius: 10px;
  word-wrap: break-word;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 580px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product--game .wrapper__box .box a {
  color: var(--primary);
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
.product--game .wrapper__box .box a:hover {
  color: #f9f929;
}
.product--game .wrapper__box .box ul {
  list-style: outside;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 10px;
}
.product--game .wrapper__box .box ul li {
  width: 100%;
  padding: 8px 0;
}
.product--game .wrapper__box .box h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--primary);
  margin-bottom: 10px;
}
.product--game .wrapper__box .box img {
  align-self: center;
  max-width: 100%;
  object-fit: cover;
}
.product--game .wrapper__box .box figcaption {
  font-style: italic;
  font-size: 1.4rem;
  text-align: center;
}
.product--game .wrapper__box .box::-webkit-scrollbar {
  width: 5px;
}
.product--game .wrapper__box .box::-webkit-scrollbar-track {
  background: transparent;
}
.product--game .wrapper__box .box::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 50px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: grab;
}
.card .wrapper__img {
  position: relative;
}
.card .wrapper__img .badge {
  position: absolute;
  top: 14%;
  left: 0;
  border: 2px solid var(--primary);
  max-width: max-content;
  text-align: center;
  padding-inline: 5px;
  background-color: white;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}
.card .wrapper__img .badge h4 {
  font-weight: 900;
  line-height: none;
}
.card .wrapper__img:hover .badge {
  background-color: var(--primary);
  color: white;
}

@media (min-width: 48rem) {
  .product--game .wrapper__group-img {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 64rem) {
  .product--game .wrapper__box {
    margin-bottom: 30px;
  }
  .product--game .wrapper__box h1 {
    font-size: 2.5rem;
  }
  .product--game .card {
    padding-bottom: 50px;
  }
}
.jackpot {
  background-color: #777777;
  width: 100%;
  position: relative;
}
.jackpot::after {
  display: none;
  content: "";
  background: black;
  position: absolute;
  left: 0;
  height: 90px;
  width: 100%;
}
.jackpot .group__jackpot--wrapper {
  width: 100%;
}
.jackpot .group__jackpot--wrapper .jackpot--left .image__group--left {
  display: none;
}
.jackpot .group__jackpot--wrapper .jackpot--left .group--left {
  text-align: center;
  margin-bottom: 10px;
}
.jackpot .group__jackpot--wrapper .jackpot--left .group--left h4 {
  font-size: 3.2rem;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
}
.jackpot .group__jackpot--wrapper .jackpot--left .group--left h3 {
  font-size: 4.8rem;
  font-weight: bolder;
  color: var(--secondary);
}
.jackpot .group__jackpot--wrapper .jackpot--left .group--left p {
  font-size: 1.2rem;
}
.jackpot .group__jackpot--wrapper .jackpot--right {
  margin-top: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.jackpot .group__jackpot--wrapper .jackpot--right .swiper-jackpot-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  height: 200px;
}
.jackpot .group__jackpot--wrapper .jackpot--right .swiper-jackpot-item img {
  width: 50px;
}
.jackpot .group__jackpot--wrapper .jackpot--right .swiper-jackpot-item .group__right {
  font-weight: 900;
  text-transform: capitalize;
}
.jackpot .group__jackpot--wrapper .jackpot--right .swiper-jackpot-item .group__right :first-child {
  margin-bottom: 10px;
  color: var(--secondary);
}

@media (min-width: 48rem) {
  .jackpot {
    padding: 30px 0;
  }
  .jackpot::after {
    top: -10px;
    display: block;
  }
  .jackpot .group__jackpot--wrapper {
    padding-inline: 10px;
    display: flex;
    align-items: center;
    gap: 0;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left {
    display: flex;
    z-index: 2;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .image__group--left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .group--left {
    padding-top: 50px;
    padding-inline: 30px;
    position: relative;
    margin: 0;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .group--left h4 {
    font-size: 2rem;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .group--left h3 {
    font-size: 3rem;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .group--left::after {
    content: "";
    border-right: 1px dotted #ccc;
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% + 20px);
    right: 0;
    height: 60%;
    width: 1px;
  }
  .jackpot .group__jackpot--wrapper .jackpot--right {
    margin-top: 0;
    max-width: 400px;
  }
}
@media (min-width: 64rem) {
  .jackpot .group__jackpot--wrapper {
    position: relative;
    gap: 30px;
    align-items: center;
    justify-items: center;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .group--left {
    position: relative;
    padding-inline: 80px;
    margin: 0;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .group--left h4 {
    font-size: 3.2rem;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .group--left h3 {
    font-size: 4.8rem;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left .group--left > * + * {
    margin-top: 10px;
  }
  .jackpot .group__jackpot--wrapper .jackpot--left ::after {
    display: block;
  }
  .jackpot .group__jackpot--wrapper .jackpot--right {
    max-width: 450px;
  }
}
.section__hero--bottom {
  background-color: var(--bg-black);
  position: relative;
}
.section__hero--bottom .hero--bottom__img {
  width: 100%;
  position: absolute;
  inset: 0;
}
.section__hero--bottom .hero--bottom__img img {
  width: 100%;
  height: 500px;
}
.section__hero--bottom .wrapper--hero__swiper {
  position: relative;
  z-index: 1;
  padding-block: 30px;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  cursor: grab;
}
.section__hero--bottom .wrapper--hero__swiper .group__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section__hero--bottom .wrapper--hero__swiper .group__item .item_content {
  text-align: center;
}
.section__hero--bottom .wrapper--hero__swiper .group__item .item_content h2 {
  font-size: 2.3rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--primary);
}
.section__hero--bottom .wrapper--hero__swiper .group__item .item_content p {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 48rem) {
  .section__hero--bottom .wrapper--hero__swiper {
    position: relative;
    z-index: 1;
    cursor: grab;
  }
  .section__hero--bottom .wrapper--hero__swiper .group__item {
    gap: 20px;
  }
  .section__hero--bottom .wrapper--hero__swiper .group__item .item_content {
    text-align: center;
  }
  .section__hero--bottom .wrapper--hero__swiper .group__item .item_content h2 {
    font-size: 3.3rem;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: var(--primary);
  }
  .section__hero--bottom .wrapper--hero__swiper .group__item .item_content p {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
  }
}
.performance__indicator__wrapper {
  background: linear-gradient(to bottom, #feaa00, #fc6100);
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.performance__indicator__wrapper .group__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.performance__indicator__wrapper .group__items .item {
  padding: 15px;
  border-right: 1px dashed #ddd;
  text-align: center;
}
.performance__indicator__wrapper .group__items .item:last-child {
  grid-column: 1/3;
  border-top: 1px dashed #ddd;
}
.performance__indicator__wrapper .group__items .item h1 {
  font-size: 4.8rem;
  font-weight: 800;
}
.performance__indicator__wrapper .group__items .item h2 {
  font-size: 2rem;
  font-weight: 500;
}

@media (min-width: 48rem) {
  .performance__indicator__wrapper .group__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .performance__indicator__wrapper .group__items .item:last-child {
    grid-column: 3;
    border: none;
  }
}
.download--app {
  width: 100%;
  height: auto;
  background-color: #1d1d1d;
  padding-top: 30px;
}
.download--app .wrapper {
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.download--app .wrapper .item__img {
  width: 50%;
}
.download--app .wrapper .item__group > * + * {
  margin-top: 15px;
}
.download--app .wrapper .item__group p {
  line-height: 1.75;
}
.download--app .wrapper .item__group h2 {
  font-size: 1.9rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--secondary);
}

@media (min-width: 48rem) {
  .download--app .wrapper {
    flex-direction: row;
  }
  .download--app .wrapper .item__img,
  .download--app .wrapper .item__group {
    flex: 1;
  }
  .download--app .wrapper .item__img img {
    width: 50%;
    margin: 0 auto;
    object-fit: cover;
  }
  .download--app .wrapper .item__group h2 {
    font-size: 2.5rem;
  }
}
/* Start Footer CSS */
footer {
  background-color: var(--bg-black);
  padding: 15px;
}
footer .container .wrapper {
  display: grid;
  margin-bottom: 10px;
}
footer .container .wrapper__content:last-child ul {
  list-style: outside;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 10px;
}
footer .container .wrapper__content:last-child ul li {
  width: 100%;
  padding: 8px 0;
}
footer .container .wrapper__title {
  font-size: 2rem;
  color: var(--primary);
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
footer .container .wrapper__title span {
  position: relative;
}
footer .container .wrapper__title span::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .container .wrapper__content_text {
  margin-top: 10px;
  text-align: justify;
}
footer .container .wrapper__content_text a {
  font-weight: 800;
}
footer .container .wrapper__content ul {
  width: 100%;
}
footer .container .wrapper__content ul li {
  width: 100%;
}
footer .container .wrapper__content ul li a {
  display: inline-block;
  width: 100%;
  padding-block: 5px;
  transition: color 0.3s ease-in-out;
  text-transform: capitalize;
}
footer .container .wrapper__content ul li a:hover {
  color: var(--primary);
}
footer .container .wrapper__content ul li a:active {
  color: var(--primary);
}
footer .container .footer_group .img__desktop {
  display: none;
  margin-block: 40px;
}
footer .container .footer_group .img__mobile {
  margin-block: 40px;
  width: 90%;
  display: block;
  object-fit: cover;
}
footer .container .footer_group img:last-child {
  height: 30px;
}
footer .container .footer_group img {
  margin: 0 auto;
  object-fit: cover;
}
footer .end-bottom {
  text-align: center;
  margin-block: 30px;
  width: 100%;
  background-color: rgba(53, 51, 51, 0.089);
  padding-block: 10px;
  color: hsla(0, 0%, 100%, 0.5);
}

@media (min-width: 48rem) {
  footer {
    padding-top: 50px;
  }
  footer .container .wrapper {
    grid-template-columns: 1.5fr 1fr 1.5fr 1fr 1fr;
    gap: 20px;
  }
  footer .container .wrapper__title {
    font-size: 1.5rem;
  }
  footer .container .footer_group .img__desktop {
    margin-bottom: 16px;
    width: 90%;
    display: block;
  }
  footer .container .footer_group .img__mobile {
    margin-bottom: 20px;
    width: 90%;
    display: none;
  }
}
@media (min-width: 64rem) {
  footer .container .wrapper {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
    gap: 50px;
  }
  footer .container .wrapper__title {
    font-size: 2rem;
  }
}
/* End Footer CSS */
body {
  font-size: var(--text-base);
  color: var(--text-white);
  font-family: "Roboto", system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  height: auto;
  overflow-x: hidden;
}

#back-to-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 1000;
  border: 2px solid #fff;
  cursor: pointer;
  visibility: hidden;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
#back-to-top i {
  color: #fff;
  font-size: 20px;
}
#back-to-top:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.back-to-top-show {
  animation: back-to-top 0.5s ease-in-out forwards;
}

.back-to-top-hide {
  animation: back-to-top-hide 0.5s ease-in-out forwards;
}

@keyframes back-to-top {
  from {
    visibility: hidden;
    transform: translateY(50px);
  }
  to {
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes back-to-top-hide {
  from {
    visibility: visible;
    transform: translateY(0);
  }
  to {
    visibility: hidden;
    transform: translateY(50px);
  }
}
.btn__primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0;
  box-sizing: border-box;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-size: 0.97em;
  font-weight: bolder;
  letter-spacing: 0.03em;
  line-height: 2.4em;
  margin-top: 0;
  max-width: 100%;
  min-height: 2.5em;
  padding: 0px 40px 0px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  border-radius: 99px;
}
.btn__primary:hover {
  filter: brightness(1.5);
}

.container-app {
  max-width: 1170px;
  margin-inline: auto;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
